@media (max-width: 991px) {
    .container {
        padding: 0 20px;
    }
    .consultation {
        &__wrapper {
            align-items: center;
        }
        &__title {
            text-align: center;
            font-size: 30px;
        }
        &__descr {
            text-align: center;
            margin: 40px 0 0 0;
        }
    }
    .feed-form {
        width: 50%;
    }
    .carousel {
        &__inner {
            width: 80%;
        }
    }
}

@media (max-width: 767px) {
    .promo {
        &__wrapper {
            align-items: center;
            text-align: center;
        }
    }

    .header {
        &__logo {
            width: 170px;
        }
    }
    .advantage {
        &__item {
            margin: 40px 30px 0 0;
            display: flex;
            flex-direction: column;
            flex: 1 1 33.333%;
            &:last-child {
                margin: 40px 0 0 0;
            }
        }
    }
    .consultation {
        padding: 50px 0 45px;
    }
    .feed-form {
        width: 60%;
    }
}

@media (max-width: 575px) {
    .promo {
        &__wrapper {
            margin: 60px 0 0 0;
        }
        &__icons {
            width: 85%;
        }
        &__icon {
            width: 55px;
            font-size: 12px;
        }
        &__header {
            font-size: 36px;
        }
        &__subheader {
            margin: 25px 0 0 0;
            font-size: 21px;
        }
    }

    .header {
        &__official {
            display: none;
        }
        &__logo {
            width: 45%;
        }
        &__contacts {
            width: 45%;
        }
        &__phone {
            font-size: 14px;
            margin: 0 0 10px 0;
        }
    }
    .button {
        &_top {
            width: 130px;
            font-size: 11px;
        }
    }
    .advantage {
        &__wrapper {
            display: flex;
            flex-direction: column;
            align-items: center;
            padding: 50px 0 0 0;
        }
        &__item {
            margin: 50px 0 0 0;
            width: 80%;
            &:first-child {
                margin: 0;
            }
        }
    }
    .consultation {
        &__title {
            font-size: 22px;
        }
        &__descr {
            font-size: 17px;
        }
    }
    .feed-form {
        width: 80%;
    }
    .catalog {
        &__tabs {
            flex-direction: column;
            align-items: center;
            padding: 0;
        }
        &__tab {
            margin: 10px 0;
            width: 70%;
        }
    }
    .reviews {
        &__row {
            flex-direction: column;
            align-items: center;
            justify-content: center;
            margin: 40px 0 0 0;
        }
        &__img {
            margin: 0;
        }
        &__review {
            margin: 10px 0 0 0;
        }
        &__name {
            margin: 20px 0 0 0;
            text-align: center;
        }
        &__subtitle {
            text-align: center;
        }
        &__descr {
            margin: 40px 0 0 0;
        }
    }

    .footer {
        &__info {
            width: 320px;
        }
    }

    .modal {
        width: 280px;
        min-height: 300px;
        &__column {
            padding: 20px 10px;
        }
        &__close {
            top: -35px;
            right: -15px;
        }
        &__subtitle {
            font-size: 16px;
        }
        &__descr {
            font-size: 12px;
        }
    }
    .pageup {
        right: 10px;
    }
}

@media (max-width: 320px) {
    .promo {
        &__icons {
            justify-content: space-between;
        }
    }
}
