.consultation {
    padding: 100px 0 92px 0;
    background: url("../img/bg_consultation.jpg") center (center/cover) no-repeat;
    &__wrapper {
        display: flex;
        flex-direction: column;
    }
    &__title {
        color: #ffffff;
        font-size: 36px;
        font-weight: 700;
        text-align: left;
        text-transform: uppercase;
        line-height: normal;
    }

    &__descr {
        margin: 80px 0 0 0;
        color: #ffffff;
        font-size: 20px;
        font-weight: 500;
        text-align: left;
        line-height: normal;
    }
    .error {
        border: 1px solid $main-color;
    }
    label.error {
        border: none;
        margin: 0 0 15px 0;
        color: #fff;
    }
}
