.feed-form {
    margin: 36px 0 0 0;
    display: flex;
    flex-direction: column;
    width: 300px;
    input {
        height: 50px;
        border-radius: 5px;
        background-color: #ffffff;
        margin: 0 0 15px 0;
        border: none;
        padding: 0 20px;
        color: #4b4b4b;
        font-size: 14px;
        font-weight: 300;
        text-align: left;
        &:nth-child(3) {
            margin: 0 0 20px 0;
        }
    }
    &_mt25 {
        margin: 25px 0 0 0;
    }
}
