.promo {
    min-height: 650px;
    padding: 24px 0 93px 0;
    background: url("../img/bg_main.webp") center (center/cover) no-repeat;
    &__wrapper {
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        margin: 90px 0 0 0;
    }
    &__header {
        display: block;
        margin: 0;
        color: #ffffff;
        font-size: 42px;
        font-weight: 700;
        line-height: 42px;
        text-transform: uppercase;
    }

    &__subheader {
        margin: 17px 0 0 0;
        color: #ffffff;
        font-size: 24px;
        font-weight: 500;
        line-height: 24px;
        text-transform: uppercase;
    }
    &__icons {
        margin: 65px 0 0 0;
        width: 425px;
        display: flex;
        justify-content: space-between;
    }
    &__icon {
        width: 108px;
        color: #ffffff;
        font-size: 14px;
        font-weight: 500;
        text-align: center;
        img {
            display: block;
            margin: 0 auto 20px auto;
            max-width: 100%;
        }
    }

    &__link {
        color: #ffffff;
        font-size: 16px;
        font-weight: 500;
        margin: 18px 0 0 0;
        a {
            color: #ffffff;
            text-decoration: underline;
            text-transform: uppercase;
        }
    }
}
